/*color palette
red:    #b30000
black:  #000
white:  #f9ecf2
green:  #99ffbb
yellow: #ffff99*/

/*main styles*/
body{ background: #f9ecf2; }
.jumbotron{
	background: #000;
	color: #f9ecf2;
	text-shadow: 5px 2px 20px #f9ecf2;
	text-align: center;
	margin: 0px;
}
.pomodoro-letter{
	color: #990000;
	text-shadow: 5px 2px 20px #990000;
}
.pomodoro-letter img{
	margin-left: -50px;
	margin-top: -5px;
}
.sub-header{
	color: #f9ecf2;
	background: #990000;
	padding: 10px 10px;
	border-left: 5px solid #4d0000;
	text-align: center;
}

/*pomodoro timer*/
.control-timer{ text-align: center; }
.pomodoro-svg{ height: 60px; }
.timer-set{ font-size: 3rem; }
.set-btn, .set-btn:focus{
	min-width: 50px;
	padding: 10px;
	font-size: 2rem;
	border: 1px solid #ebc6d9;
	border-radius: 10%;
	color: #b30000;
	background: transparent;
}
.set-btn:visited, .set-btn:hover { border: 1px solid #ebc6d9; }
.start-pause, .start-pause:focus{
	margin-top: -10px;
	background: #000;
	border: transparent;
}
.start-pause:hover{ background: #990000; }
.timer-display{ 
	position: static;
	font-size: 4rem; 
}
.session{ color: #1fa24a; }
.break{ color: #b30000; }
.timer-box{
	position: relative;
	height: 120px;
	width: 240px;
	border: 1px solid #990000;
	border-radius: 10px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
}
.timer-box > p{ padding-top: 30px; }
.timer-fill{
	position: absolute;
	height: 120px;
	width: 240px;
	background: #ffc2b3;
	border-radius: 10px;
	z-index: -1;
}

/*mobile screen handling*/
@media(max-width: 650px){
	.main-content{
		min-height: 150px;
	}
	.pomodoro-letter img{
		margin-left: -40px;
		margin-top: 5px;
	}
}