/*color palette
red:    #b30000
black:  #000
white:  #f9ecf2
green:  #99ffbb
yellow: #ffff99*/

/*main styles*/
body{ background: #f9ecf2; }
.jumbotron{
	background: #000;
	color: #f9ecf2;
	text-shadow: 5px 2px 20px #f9ecf2;
	text-align: center;
	margin: 0px;
}
.pomodoro-letter{
	color: #990000;
	text-shadow: 5px 2px 20px #990000;
}
.pomodoro-letter img{
	margin-left: -50px;
	margin-top: -5px;
}
.sub-header{
	color: #f9ecf2;
	background: #990000;
	padding: 10px 10px;
	border-left: 5px solid #4d0000;
	text-align: center;
}

/*pomodoro timer*/
.control-timer{ text-align: center; }
.timer-set{ font-size: 3rem; }
.set-btn, .set-btn:focus{
	min-width: 50px;
	padding: 10px;
	font-size: 2rem;
	border: 1px solid #ebc6d9;
	border-radius: 10%;
	color: #b30000;
	background: transparent;
}
.set-btn:visited, .set-btn:hover { border: 1px solid #ebc6d9; }
.start-pause, .start-pause:focus, .reset, .reset:focus{
	background: #000;
	border: transparent;
}
.start-pause:hover, .reset:hover{ background: #990000; }
.timer-display{ 
	position: static;
	font-size: 4rem; 
	color: #f9ecf2;
}
.timer-box{
	position: relative;
	height: 181px;
	width: 181px;
    overflow: hidden;
	border: 1px solid #990000;
	border-radius: 50%;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
}
.timer-box > p{ 
	padding-top: 60px; 
	text-shadow: 5px 2px 20px #000,
				 1px 1px 4px #000;
}
.timer-bckg{
	position: absolute;
	height: 180px;
	width: 180px;
	z-index: -2;
}
.timer-fill{
	position: absolute;
	top: 0px;
	height: 180px;
	width: 180px;
	background: #f9ecf2;
	border-radius: 0%;
	z-index: -1;
}
/*TODO: write a class for animated object; it has to include animation only*/

/*mobile screen handling*/
@media(max-width: 650px){
	.main-content{
		min-height: 150px;
	}
	.pomodoro-letter img{
		margin-left: -40px;
		margin-top: 5px;
	}
}